<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page - Kite Zone</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="container">
        <div id="header"> 
            <img src="../static/logo.png" alt="logo">
        </div>
        <div id="left"> 
            avfodmgod   
           </div>
        <div id="menu">
        <nav>
            <ul>
                <li class="topnav"><a href="Home.html">דף הבית</a></li>     
                <li class="topnav"><a href="">כניסה למשתמשים </a></li>
                <li class="topnav"><a href="signup.html">הרשמה</a></li>
            </ul>
        </nav>
        </div>
        <div id="info"></div>
        <div id="footer">
            <footer> Ⓒ Kite Zone</footer>
        </div>
    </div>
</body>
</html>