<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page - Kite Zone</title>
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="container">
        <div id="header"> 
        </div>
        <div id="right"> 
           <p>:עדכונים</p> 
           </div>
           <div id="menu">
            <div class="logo">
                <a href="Home.html">
                <img src="../static/logo1.png" alt="logo" >
                </div>
            <nav>
                <ul>
                    <li class="topnav"><a href="Home.html">דף הבית</a></li>     
                    <li class="topnav"><a href="signin.html">כניסה למשתמשים </a></li>
                    <li class="topnav"><a href="signup.html">הרשמה</a></li>
                </ul>
            </nav>
       
            </div>
        <div id="info" class="info">
            <h1 >יעדי גלישה מומלצים</h1>
            <div class="container">
                <div class="card">
                  <div class="card-header">
                    <img src="../static/favs/beach-1751455_1920.jpg" alt="rover" />
                  </div>
                  <div class="card-body">
                    <span class="tag tag-rec">הכי מומלץ</span>
                    <h4>
                      חוף דיימונד
                    </h4>
                    <p>
                    מיקום: כנרת,צפון
                    </p>
                    <div class="user">
                      <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
                      <div class="user-info">
                        <h5>דנה ברגר</h5>
                        <small>2h ago</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <img src="../static/favs/beach-832346_1920.jpg" alt="ballons" />
                  </div>
                  <div class="card-body">
                    <span class="tag tag-viewed">הכי נצפה</span>
                    <h4>
                      חוף מיקונוס
                    </h4>
                    <p>
                      מיקום: אילת,דרום
                    </p>
                    <div class="user">
                      <img src="https://lh3.googleusercontent.com/ogw/ADGmqu8sn9zF15pW59JIYiLgx3PQ3EyZLFp5Zqao906l=s32-c-mo" alt="user" />
                      <div class="user-info">
                        <h5>אייל גולן</h5>
                        <small>Yesterday</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <img src="../static/favs/thin-2902686_1920.jpg" alt="city" />
                  </div>
                  <div class="card-body">
                    <span class="tag tag-new">הכי חדש</span>
                    <h4>
                      חוף הסטודנטים
                    </h4>
                    <p>
                      חיפה,צפון
                    </p>
                    <div class="user">
                      <img src="https://studyinbaltics.ee/wp-content/uploads/2020/03/3799Ffxy.jpg" alt="user" />
                      <div class="user-info">
                        <h5>שושנה דמארי</h5>
                        <small>1w ago</small>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
        <div id="footer">
            <footer> Ⓒ Kite Zone</footer>
        </div>
    </div>
</body>
</html>