<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My sites</title>
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="container">
        <div id="header"> 
        </div>
        <div id="right"> 
            <p>:עדכונים</p>  
           </div>
           <div id="menu">
            <div class="logo">
                <a href="Home.html">
                <img src="../static/logo1.png" alt="logo" >
                </div>
            <nav>
                <ul>
                    <li class="topnav"><a href="MySites.html">היעדים שלי</a></li>     
                    <li class="topnav"><a href="settings.html">הגדרות</a></li>
                    <li class="topnav"><a href="Home.html" onclick="return confirm('?האם אתה בטוח שברצונך להתנתק')">התנתק</a></li>
                </ul>
            </nav>
            </div>
        <div id="info"class="info">
                <h1>היעדים שלי</h1><br><br>
                <h2>יעד 1</h2><br>
                <p>פרטי מזג אוויר על היעד</p>
                <nav><br>
                    <ul>
                        <li class="topnav"><a href=""> יעד 1</a></li>     
                        <li class="topnav"><a href="">יעד 2</a></li>
                        <li class="topnav"><a href="">יעד 3</a></li>
                        <li class="topnav"><a href="">יעד 4</a></li>
                    </ul>
                </nav>
        </div>
        <div id="footer">
            <footer> Ⓒ Kite Zone</footer>
            
        </div>
    </div>
</body>
</html>