<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page - Kite Zone</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="container">
        <div id="header"> 
            <img src="../static/logo.png" alt="logo">
        </div>
        <div id="left"> 
            avfodmgod   
           </div>
        <div id="menu">
        <nav>
            <ul>
                <li class="topnav"><a href="Home.html">דף הבית</a></li>     
                <li class="topnav"><a href="">כניסה למשתמשים </a></li>
                <li class="topnav"><a href="signup.html">הרשמה</a></li>
            </ul>
        </nav>
        </div>
        <div id="info">
            <form action="" method="" id="form1">
                <h1>הרשמה</h1>
                <h3>!ברוך הבא</h3>
                <label for="FullName" >:שם משתמש</label><br>
                <input form="form1" type="text" required id="FullName" name="FullName" ><br>
                <label for="email">:Email</label><br>
                <input form="form1" type="email" required id="email" name="email"><br>
                <label for="birthday">:תאריך לידה</label><br>
                <input form="form1" type="date" required id="birthday" name="birthday"><br>
                <label for="height">:גובה</label><br>
                <input form="form1" type="number" required id="height" name="height"><br>
                <label for="weight">:משקל</label><br>
                <input form="form1" type="number" required id="weight" name="weight"><br>
                <label for="kite"> :גודל קייט</label> </label><br>
                <select name="kites" id="kites" multiple>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                  </select><br>
                <label for="comment">your comment:</label><br>
                <textarea name="comment" id="comment" cols="30" rows="10"></textarea><br>
                <input form="form1" type="submit" value="שלח" id="button"><br>
                    </form>
        </div>
        <div id="footer">
            <footer> Ⓒ Kite Zone</footer>
        </div>
    </div>
</body>
</html>