<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign in</title>
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="container">
        <div id="header">
        </div>
        <div id="right"> 
            <p>:עדכונים</p> 
           </div>
        <div id="menu">
            <div class="logo">
                <a href="Home.html">
                <img src="../static/logo1.png" alt="logo" >
                </div>
        <nav>
            <ul>
                <li class="topnav"><a href="Home.html">דף הבית</a></li>     
                <li class="topnav"><a href="signin.html">כניסה למשתמשים </a></li>
                <li class="topnav"><a href="signup.html">הרשמה</a></li>
            </ul>
        </nav>
        </div>
        <div id="info">
            <form action="" method="" id="form1">
                <fieldset>
                <legend>כניסת משתמשים</legend>
                <h3>!ברוך הבא</h3>
                <label for="FullName" >:שם משתמש</label>
                <input form="form1" type="text" required id="FullName" name="FullName" class="registration">
                <label for="password" >:סיסמה</label>
                <input form="form1" type="password" required id="password" name="password" class="registration"><br>
                <input form="form1" type="submit" value="התחבר" class="button"><br>
                </fieldset>
                    </form>
        </div>
        <div id="footer">
            <footer> Ⓒ Kite Zone</footer>
        </div>
    </div>
</body>
</html>