
:root{
    --myorange:#FAA83D;
    --mylightblue:#D9EDEA;
    --myaqua:#15CAB1;
    --mydeepblue:#236363;
    --mygrey:#C0C1B0;
}
@font-face {
    font-family: txtfont;
    src: url(VarelaRound-Regular.ttf);
}
*{ 
    margin: 2px;
    padding: 2px; 
}
body{
    background-color: var(--mylightblue);
}

#container{
    display: grid;
    grid-template-areas: 
    'header header header header header'
    'menu menu menu menu menu'
    'info info info info bar'
    'footer footer footer footer footer';
    }
#header{
    grid-area: header;
    height: 70vh;
    background-image:url(header/kite-surfing-4288247_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover,contain;
    animation-name: header;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
img{
max-width: 30%;
max-height: 30%;

display: block;
}

#right{
    grid-area: bar;
    background-color: var(--mygrey);
    height: 100vh;
}
#menu{
    grid-area: menu;
    background-color: var(--myorange);
    height: 5vh;

}
#info{
    grid-area: info;
    background-color: var(--mylightblue);
    height: 100vh;
}
#footer{
    grid-area: footer;

}
nav{
    margin-right: 20px;
}
nav ul{
margin: 0;
padding: 0;
list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 40px;
    float: right;
}

nav a {
    color:var(--mylightblue) ;
    text-decoration: none;
    text-transform: uppercase;
    font-family: txtfont;
}
nav a:hover{
    color: black;
    text-decoration: underline;
}
@keyframes header{
    0% {background-image: url(header/kite-surfing1.jpg);     background-repeat: no-repeat;
        background-size: cover,contain;}
    25% {background-image: url(header/kite-surfing.jpg);    background-repeat: no-repeat;
        background-size: cover,contain;}
    50%{background-image: url(header/kite-surfing-4288247_1920.jpg);    background-repeat: no-repeat;
        background-size: cover,contain;}
    75%{background-image: url(header/kite-surfing2.jpg);    background-repeat: no-repeat;
            background-size: cover,contain;}
    100%{background-image: url(header/kite-surfing1.jpg);    background-repeat: no-repeat;
                background-size: cover,contain;} 
}